<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>
    <!-- for tinymce -->
    <script src="https://cdn.tiny.cloud/1/azb4ymdw6gtvps5t8dei3474jd3akeh2hgvdyqg0lacgwsue/tinymce/6/tinymce.min.js"
    ></script>
</head>
<body>
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Add Post</title>
</head>
<body>
<!-- Main Body of Page -->
<!-- Beginning of navigation menu -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="addPost">Add Post</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="approvePost">Approve Post</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="logout">Log out</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- end of navbar -->
<div class="container">
    <div>
        <h2>Add Post</h2>
        <form action="addPost" method="POST">
            <div class="row justify-content-center">
                <div class="col-md-9"
                     th:if="${!postErrors.isEmpty()}">
                    <p class="alert alert-danger" th:each="error : ${postErrors}"
                       th:text="${error.message}">Error message</p>
                </div>
                <div class="col-md-9">
                    <label><h5>Title</h5></label>
                    <div>
                        <input type="text" class="form-control" style="width:100%" maxlength="128"
                               placeholder="Enter title here" name="title"/>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9 ">
                    <textarea id="body" name="blogBody"></textarea>
                    <script>
                    tinymce.init({
                      selector: '#body',
                      menubar: false,
                      plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                      ],
                      toolbar: 'undo redo | formatselect | ' +
                      'bold italic backcolor | alignleft aligncenter ' +
                      'alignright alignjustify | bullist numlist outdent indent | ' +
                      'removeformat | help',
                      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
                                        });
                    </script>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9 ">
                    <label><h5>Hashtags</h5></label>
                    <div>
                        <input type="text" class="form-control" style="width:100%" maxlength="128"
                               placeholder="Enter hashtags separated by commas or spaces" name="hashtags"/>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <input type="submit" value="Post"/>
                </div>
            </div>
        </form>
    </div>
    <br/>
</div>
<!-- End main body -->
<!-- needed to run bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


</body>
</html>
